body {
	background:white;
	color: black;
	font-family: 'Times New Roman', Times, serif;
}

.titulo{
    color: rgb(37, 40, 80);
    font-size: 50px;
	text-align: center;
}
.button {
	background:#7f8c8d;
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:5px;
	padding:10px 0;
	text-align:center;
	width:200px;
	text-decoration:none;
	box-shadow:0px 3px 0px #373c3c;
	float: right;
}

.confi_usua{
	font-size: 30px;
	text-align: center;
}
.saldo{
	color: forestgreen;
	font-size: 50px;
}
.cambios{
	float: left;
	background:#3498db;
	box-shadow:0px 3px 0px #266792;
	right: 30px;
}
.cambio_contra{
	background:#3498db;
	box-shadow:0px 3px 0px #266792;
	right: 30px;
}
.agregar_saldo{
	float: right;background:#3498db;
	box-shadow:0px 3px 0px #266792;
	right: 30px;
}
.button.blue {
	background:#3498db;
	box-shadow:0px 3px 0px #266792;
	right: 30px;
}
.button:hover{
	box-shadow: 0px 0px 0px;
	padding-top: 7px;
}

.carousel__contenedor{
	top: 30px;
    position: relative
}
.carousel__anterior, .carousel__siguiente{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #fff;
    opacity: 20%;
}
.carousel__anterior{
    left: -30px;
}
.carousel__siguiente{
    right: -30px;
}
.carousel_lista{
    overflow: hidden;
}
.carousel_elemento{
    text-align: center;
}
.carousel__indicadores .glider-dot{
    display: block;
    width: 30px;
    height: 30px;
    background: #fff;
    opacity: .2;
    border-radius: 0;
}
.carousel__indicadores .glider-dot:hover{
    opacity: .5;
}
.carousel__indicadores .glider-dot:active{
    opacity: .1;
}
/* --- --- MEDIA QUERIES --- --- */
@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}

.pago{
	text-align: left;
	font-size: 30px;
}
.nuevo_saldo{
	color: green;
}
