.inicio{
    top: 50%;
    text-align: right;
}
* {
	box-sizing: border-box;
}
.productos{
	color: maroon;
}
.precio{
	text-align: right;
	color: #9a5833;
}
body {
	background:gray;
	color: #fff;
	font-family: 'Times New Roman', Times, serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.contenedor {
	max-width: 120000px;
	width: 90%;
	margin: auto;
}
.contenedor1 {
	align-items: center;
}
/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #CFCFCF;
}

/* --- --- CAROUSEL --- --- */

.carousel__contenedor{
    position: relative
}
.carousel__anterior, .carousel__siguiente{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #fff;
    opacity: 20%;
}
.carousel__anterior{
    left: -30px;
}
.carousel__siguiente{
    right: -30px;
}
.carousel_lista{
    overflow: hidden;
}
.carousel_elemento{
    text-align: center;
}
.carousel__indicadores .glider-dot{
    display: block;
    width: 30px;
    height: 30px;
    background: #fff;
    opacity: .2;
    border-radius: 0;
}
.carousel__indicadores .glider-dot:hover{
    opacity: .5;
}
.carousel__indicadores .glider-dot:active{
    opacity: .1;
}
/* --- --- MEDIA QUERIES --- --- */
@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}

